

@font-face {
  font-family: Helvetica;
  src: url("./Fonts/Helvetica Now/HelveticaNowText-Medium.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: Helvetica;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-p1 {
  padding: 0 26px;
}


h1,
h2,
h3,
h4,
h5,
h6,
a {
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
  background-color: transparent;
}
